.about {
  background-color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: rem;
  padding-left: 4rem;
  position: relative;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about-text p {
  width: 80vw;
  color: black;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.languages {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.about-img {
  justify-self: center;
  align-self: center;
  width: max-content;
}
.about-img a:hover {
  color: cornflowerblue;
}

.about-img img {
  height: auto;
  width: 350px;
}
.about-img p {
  font-size: 28px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .about {
    padding-left: 2rem;
  }
}
